*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.navegacion{
    background-color: hsl(0, 0%, 6%);
    height: 80px;
    width: 100%; 
}
/*Logo*/
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}   
/*menu*/
.menu{
    float:right;
    margin-right: 125px;
    padding: 10px
}
.menu ul{
    float: right;
    margin-right: 20px;
    list-style: none;
    
}
.menu > li{
    position: relative;
    display: inline-block;
    
}
.menu li a{
    display: block; padding: 15px 20px;
    color: hsl(0, 0%, 100%); 
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none; 
    
}
.menu li a:hover{
    color: hsl(131, 100%, 52%);
    transition: all .5s;
    
}
/*submenu*/

.submenu{
    position: absolute;
    background: hsl(0, 0%, 6%);
    width: 120%;
    display: none;
    
}
.submenu li a{
    display: block;
    padding: 15px;
    color: hsl(0, 0%, 100%);
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
}
.menu li:hover .submenu{
    display: block;
}
/*Boton resposive que solo funcionará cuando se use una resolución de móvil*/
.checkbtn{
    font-size: 30px;
    color: hsl(0, 0%, 100%);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.container{
    margin: 2.5rem 22rem;
   
    

}
.titulo h1{
    color:hsl(0, 0%, 10%) ;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;

}

.texto1{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    text-align: justify;
    
}

.container span{
    color: hsl(0, 0%, 0%);
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
.lista{
    list-style:circle;
}
.container2 ul li{
    margin-left: 50px;
    padding: 5px;
}
.container2 p{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    text-align: justify; 
    
}
.container3 ul li{
    margin-left: 50px;
    padding: 5px;
}
.container3 p{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    text-align: justify;
}



/*Iframe de donde esta situado las instalaciones de GreenlandMX en google maps*/
.mapa{
    width: 100%;
}
footer{
    background-color: hsl(0, 0%, 6%);
    height: 400px;
    width: 100%; 
}




